* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1000px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class^="col-"] {
  float: left;
}

.col_100 {
  width: 80%;
  height: 100px;
}

.bg_pink {
  background-color: pink;
}

.col_400 {
  width: 80%;
  height: 400px;
}

.bg_yellow {
  background-color: yellow;
}
