* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1000px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class^="col-"] {
  float: left;
}

.col_100 {
  width: 90%;
  height: 100px;
  margin-top: 2%;
}

.bg_pink {
  background-color: pink;
}

.col_400 {
  width: 90%;
  height: 400px;
  margin-top: 2%;
}

.bg_yellow {
  background-color: yellow;
}

.col_450 {
  width: 90%;
  height: 450px;
  margin-top: 2%;
}

.bg_lightblue {
  background-color: blue;
}

.col_50 {
  width: 90%;
  height: 50px;
}

.bg_cyan {
  background-color: lightblue;
}

.col_25 {
  width: 25%;
  height: 400px;
  margin-top: 2%;
}
